/*CONtAINER*/
.container{
  min-width: 1400px;
}

/*TABS*/
#tabs {
  text-align: center;
}

/*LEGEND*/
#legend {
  text-align: center;
}
#legend svg {
  background: #ECEFF1;
}
#legend text {
  font: 12px sans-serif;
}

/*FOOT*/
#foot {
  text-align: center;
}

/*D3 NETWORK*/
#network .link {
  stroke: #ECEFF1;
  stroke-width: 1px;
  stroke-opacity: 1;
}
#network .node circle {
  opacity: .8;
}
#network .node text {
  font-size: 10px;
  font-family: sans-serif;
}

/*D3 MATRIX*/
#matrix rect.bordered {
  stroke: #ECEFF1;
  stroke-width: 1px;
}
#matrix text.mono {
  font-size: 8pt;
  font-family: sans-serif;
}
#matrix text.active {
  font-size: 12pt;
  font-family: sans-serif;
  background-color: white; 
}
#matrix rect.cell-hover {
  stroke: red;
  stroke-width: 2px;
}
#matrix text.text-hover {
  font-size: 12pt;
  font-family: sans-serif;
  background-color: white;
}

/*TOOL TIP*/
#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  opacity: .9;
}
#tooltip p {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}
#tooltip.hidden {
  display: none;
}